#graph-area{
	padding : 0;
	overflow: scroll;
}

#nlg-area .label{

	cursor: pointer;
}

.page-header,
.page-header h1 {
  border: 0;
  margin: 0;
  padding: 0;
  }

.page-header h1 {
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  background-color: #e5e5e5;
  border-bottom: 1px #d6d6d6 solid;
  color: #666;
  }

.ui-layout-center {
  background-color: #eee;
  }

.ui-layout-pane-east {
  
  background-color: #444;
  }

.ui-layout-pane-east form {
  margin: 10px;
  color: #fff;
  }

.ui-layout-pane-east form legend {
  color: #fff;
  }

.ui-layout-content {
  background-image: url(../img/gridpattern.png);
  background-color: #f6f6f6;
  }

.breadcrumb { background-color: #e5e5e5; margin: 0; }

#nlg-area { 
  margin: 10px; 
  padding: 10px; 
  background-color: #d6d6d6;
  /*background-color: #377ca8;*/ 
}